body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.content {
  padding: 30px;
}

.title {
  padding-bottom: 3px;
  border-bottom: double black;
  font: {
    size: 22px;
    weight: lighter;
  }
}
